@page "/Recogida/Create"
@inject RecogidasService recogidasService
@inject ChoferesService choferesService
@inject NavigationManager navigation
@inject IUserRoleService UserRoleService
@rendermode InteractiveServer

<PageTitle> Solicitar recogida </PageTitle>

<div class="container mt-3">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title text-center"> <strong> Solicitar recogida </strong></h5>
        </div>

        <EditForm Model="recogida" OnValidSubmit="GuardarRecogida">
            <DataAnnotationsValidator />
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Fecha y Hora </strong></label>
                        <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="recogida.Fecha" />
                        <ValidationMessage For="() => recogida.Fecha" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"><strong>Productor</strong></label>
                        <InputSelect class="form-select" @bind-Value="recogida.ProductorId">
                            <option value="" disabled selected>Seleccione un productor</option>
                            @foreach (var productor in ListaProductores)
                            {
                                <option value="@productor.Id">@productor.UserName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => recogida.ProductorId" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Punto de encuentro </strong></label>
                        <InputTextArea class="form-control" @bind-Value="recogida.PuntoEncuentro" />
                        <ValidationMessage For="() => recogida.PuntoEncuentro" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Cantidad de sacos </strong></label>
                        <InputNumber class="form-control" @bind-Value="recogida.CantidadSacos" />
                        <ValidationMessage For="() => recogida.CantidadSacos" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Chofer </strong></label>
                        <InputSelect class="form-select" @bind-Value="recogida.ChoferId">
                            <option value="" disabled selected>Seleccione un chofer</option>

                            @foreach (var c in ListaChoferes)
                            {
                                <option value="@c.ChoferId">@c.Nombre</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => recogida.ChoferId" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"><strong>Certificaciones del producto</strong></label>

                        <!-- Primera fila de checkboxes -->
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <InputCheckbox class="form-check-input" id="certNOP"
                                                   @bind-Value="certNOP"
                                                   @onchange="@(() => ActualizarCertificacion(certNOP, "NOP"))" />
                                    <label class="form-check-label" for="certNOP">NOP</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <InputCheckbox class="form-check-input" id="certBF"
                                                   @bind-Value="certBF"
                                                   @onchange="@(() => ActualizarCertificacion(certBF, "BF"))" />
                                    <label class="form-check-label" for="certBF">BF</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <InputCheckbox class="form-check-input" id="certEU"
                                                   @bind-Value="certEU"
                                                   @onchange="@(() => ActualizarCertificacion(certEU, "EU"))" />
                                    <label class="form-check-label" for="certEU">EU</label>
                                </div>
                            </div>
                        </div>

                        <!-- Segunda fila de checkboxes -->
                        <div class="row mt-2">
                            <div class="col-4">
                                <div class="form-check">
                                    <InputCheckbox class="form-check-input" id="certWFT"
                                                   @bind-Value="certWFT"
                                                   @onchange="@(() => ActualizarCertificacion(certWFT, "WFT"))" />
                                    <label class="form-check-label" for="certWFT">WFT</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <InputCheckbox class="form-check-input" id="certConv"
                                                   @bind-Value="certConv"
                                                   @onchange="@(() => ActualizarCertificacion(certConv, "CONVENCIONAL"))" />
                                    <label class="form-check-label" for="certConv">CONVENCIONAL</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <InputCheckbox class="form-check-input" id="certOtras"
                                                   @bind-Value="certOtras"
                                                   @onchange="@(() => ActualizarCertificacion(certOtras, "OTRAS"))" />
                                    <label class="form-check-label" for="certOtras">OTRAS</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer gap-2 bg-white d-flex justify-content-center">
                <button type="submit" class="btn btn-primary bi bi-save"> Guardar </button>
                <a class="btn btn-secondary bi bi-arrow-left-circle" href="/Recogida/Index"> Regresar </a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public Recogidas recogida { get; set; } = new Recogidas();

    private List<ApplicationUser> ListaProductores = new();

    private List<Choferes> ListaChoferes = new();

    // Variables para cada checkbox
    private bool certNOP = false;
    private bool certBF = false;
    private bool certEU = false;
    private bool certWFT = false;
    private bool certConv = false;
    private bool certOtras = false;

    // Método para actualizar la lista de certificaciones
    private void ActualizarCertificacion(bool isChecked, string certificacion)
    {
        if (isChecked)
        {
            if (!recogida.CertificacionesProducto.Contains(certificacion))
            {
                recogida.CertificacionesProducto.Add(certificacion);
            }
        }
        else
        {
            recogida.CertificacionesProducto.Remove(certificacion);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Obtener usuarios con rol "Productor"
        var productores = await UserRoleService.GetUsersByRoleAsync("Productor");
        ListaProductores = productores.ToList();

        ListaChoferes = await choferesService.Listar(e => true);
    }

    public async Task GuardarRecogida()
    {

        if (await recogidasService.Guardar(recogida))
        {
            navigation.NavigateTo("/Recogida/Index");
        }
    }
}