@page "/Pesaje/Create"
@inject AuthenticationStateProvider AuthStateProvider
@inject PesajesService pesajeService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle> Crear Pesaje </PageTitle>

<div class="container mt-3">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title text-center">
                <strong> Crear Pesaje </strong>
            </h5>
        </div>

        <EditForm Model="Pesaje" OnValidSubmit="GuardarPesaje">
            <DataAnnotationsValidator />
            <div class="card-body">
                <div class="row">
                    <!-- Fecha -->
                    <div class="col-12 col-md-6 mb-3">
                        <label class="col-form-label"> <strong> Fecha </strong></label>
                        <InputDate class="form-control" @bind-Value="Pesaje.Fecha" />
                        <ValidationMessage For="() => Pesaje.Fecha" />
                    </div>
                </div>
            </div>

            <div class="border border-success p-3 mt-3">
                <h5> Detalle de Pesaje </h5>
                <PesajePicker SacoId="detalleSeleccionado.SacoId"
                              Cantidad="detalleSeleccionado.Cantidad"
                              Peso="detalleSeleccionado.Peso"
                              ListaSacos="ListaSacos"
                              OnPesajeSeleccionado="AgregarDetalle" />
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-light text-center">
                        <thead>
                            <tr>
                                <th> Cantidad </th>
                                <th> Peso (Kg) </th>
                                <th> Peso Total (Kg) </th>
                                <th> Quintales </th>
                                <th> Opciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detalle in Pesaje.PesajesDetalle)
                            {
                                <tr>
                                    <td> @detalle.Cantidad</td>
                                    <td> @detalle.Peso.ToString("F2")</td>
                                    <td> @((detalle.Cantidad * detalle.Peso).ToString("F2"))</td>
                                    <td> @(((detalle.Cantidad * detalle.Peso) / 125).ToString("F2")) </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="() => RemoverDetalle(detalle)">
                                            Remover
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-3">
                    <label class="col-12"> <strong> Cantidad Total de Sacos: </strong> @Pesaje.PesajesDetalle.Sum(d => d.Cantidad)</label>
                    <label class="col-12"> <strong> Peso Total: </strong> @Pesaje.PesajesDetalle.Sum(d => d.Cantidad * d.Peso).ToString("F2") kg</label>
                    <label class="col-12"> <strong> Peso Total en Quintales: </strong> @((Pesaje.PesajesDetalle.Sum(d => d.Cantidad * d.Peso) / 125).ToString("F2"))</label>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary bi bi-save"> Guardar </button>
                <a href="/Pesaje/Index" class="btn btn-secondary bi-arrow-left-circle"> Regresar </a>
            </div>
        </EditForm>
    </div>
</div>


@code {
    public Pesajes Pesaje { get; set; } = new Pesajes();
    public List<Sacos> ListaSacos { get; set; } = new List<Sacos>();

    public PesajesDetalles detalleSeleccionado { get; set; } = new PesajesDetalles()
    {
        SacoId = 1
    };

    protected override async Task OnInitializedAsync()
    {
        ListaSacos = await pesajeService.ListarSacos(p => true);
    }

    public async Task GuardarPesaje()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        Pesaje.EmpleadoId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrEmpty(Pesaje.EmpleadoId))
            throw new Exception("No se pudo obtener el EmpleadoId logueado.");

        if (await pesajeService.Guardar(Pesaje))
        {
            navigationManager.NavigateTo("/Pesaje/Index");
        }
    }

    private void AgregarDetalle((Sacos saco, double cantidad, double peso) datos)
    {
        var nuevoDetalle = new PesajesDetalles
        {
            SacoId = datos.saco.SacoId,
            Cantidad = datos.cantidad,
            Peso = datos.peso
        };

        Pesaje.PesajesDetalle.Add(nuevoDetalle);

        // Reiniciar el detalle seleccionado
        detalleSeleccionado = new PesajesDetalles() { SacoId = 1 };
    }

    private void RemoverDetalle(PesajesDetalles detalle)
    {
        Pesaje.PesajesDetalle.Remove(detalle);
        detalleSeleccionado = detalle;
    }

}
