@page "/Fermentacion/Index"
@inject FermentacionesService fermentacionesServices
@rendermode InteractiveServer

@attribute [Authorize(Roles = "Empleado")]

<PageTitle> Consulta Fermentacion </PageTitle>

<div class="container mt-3">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title text-center"> <strong> Consulte sus fermentaciones </strong> </h5>

            <div class="d-flex justify-content-end">
                <a class="btn btn-info bi bi-plus-square" href="/Fermentacion/Create"> Crear fermentacion </a>
            </div>
        </div>

        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3">
                    <label class="col-form-label"> <strong> Desde </strong></label>
                    <InputDate class="form-control" @bind-Value="Desde" />
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <label class="col-form-label"> <strong> Hasta </strong></label>
                    <InputDate class="form-control" @bind-Value="Hasta" />
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3">
                    <label class="col-form-label"> <strong> Filtrar por </strong></label>
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" disabled selected> Seleccione una opcion</option>
                        <option value="FermentacionId"> Fermentacion Id </option>
                        <option value="Temperatura"> Temperatura  </option>
                        <option value="Observaciones"> Observaciones </option>
                    </InputSelect>
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <label class="col-form-label"> <strong> Busqueda </strong></label>
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button class="btn btn-outline-info bi bi-search" @onclick="Buscar" />
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-dark table-striped table-hover text-center">
                    <thead class="table-light">
                        <tr>
                            <th> Fermentación Id </th>
                            <th> Fecha </th>
                            <th> Temperatura °F </th>
                            <th> Observaciones </th>
                            <th> Ultima remocion </th>
                            <th> Cantidad Removida Total </th>
                            <th> Promedio de Temperatura en Remociones </th>
                            <th> Opciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ListaFermentaciones == null || ListaFermentaciones.Count == 0)
                        {
                            <tr>
                                <td colspan="8" class="text-center text-muted py-4">
                                    No se han encontrado registros de fermentación
                                </td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var fermentacion in ListaFermentaciones)
                            {
                                <tr>
                                    <td> @fermentacion.FermentacionId</td>
                                    <td> @fermentacion.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td> @fermentacion.Temperatura </td>
                                    <td> @fermentacion.Observaciones</td>
                                    <td> @fermentacion.FermentacionesDetalle.Count</td>
                                    <td> @fermentacion.FermentacionesDetalle.Sum(f=> f.Cantidad).ToString("F2")</td>
                                    <td>
                                        @(fermentacion.FermentacionesDetalle.Any()
                                                                        ? fermentacion.FermentacionesDetalle.Average(d => d.Temperatura).ToString("F2")
                                                                        : "0")
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-primary bi bi-eye" href="/Fermentacion/View/@fermentacion.FermentacionId" />
                                        <a class="btn btn-sm btn-outline-info bi bi-pencil-square" href="/Fermentacion/Edit/@fermentacion.FermentacionId" />
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <label class="col-12"> <strong> Conteo fermentaciones: </strong> @ListaFermentaciones.Count </label>
            <label class="col-12"> <strong> Cantidad total: </strong> @ListaFermentaciones.Sum(f => f.FermentacionesDetalle.Sum(t => t.Cantidad)).ToString("F2")</label>
        </div>
    </div>
</div>

@code {
    public string Filtro { get; set; } = null!;

    public string ValorFiltro { get; set; } = string.Empty;

    public DateTime? Desde { get; set; }

    public DateTime? Hasta { get; set; }

    public List<Fermentaciones> ListaFermentaciones = new ();

    protected override async Task OnInitializedAsync ()
    {
        await Buscar();
    }

    public async Task Buscar()
    {
        var lista = await fermentacionesServices.Listar(R => true);

        if (Desde.HasValue && Hasta.HasValue)
        {
            lista = lista.Where(f => f.Fecha >= Desde && f.Fecha <= Hasta).ToList();
        }

        if (!string.IsNullOrEmpty(ValorFiltro))
        {
            if (Filtro == nameof(Fermentaciones.FermentacionId) && int.TryParse(ValorFiltro, out int id))
            {
                lista = lista.Where(f => f.FermentacionId == id).ToList();
            }

            else if (Filtro == nameof(Fermentaciones.Temperatura) && double.TryParse(ValorFiltro, out double temp))
            {
                lista = lista.Where(f => f.Temperatura == temp).ToList();
            }
            else if (Filtro == nameof(Fermentaciones.Observaciones))
            {
                lista = lista.Where(f => f.Observaciones.Contains(ValorFiltro, StringComparison.OrdinalIgnoreCase)).ToList();
            }
        }
            
        ListaFermentaciones = lista;
    }
}